## hacer limpieza de este archivo
.git
.gitignore
**/*.md
**/*.MD
**/*.markdown
scripts/
assets/
!assets/config/
auth/
academy-fases/
Blog/
blog/
camino-dorado-fases/
de-cero-a-cien-fases/
formacion-semilla-talleres/
gamificacion/
imports/
legal/
liderazgo/
servicios-empresariales/
talent/
talento/
*.html
*.htm
